/* Reset start */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
}

button {
  border-width: 0;
  border-style: none;
  border-color: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

/* Reset end */
body {
  background-color: #f4f6f5;
}

.container {
  width: 1170px;

  .col-md-3 {
    .categories {
      @include left-block(312px);

      a {
        margin: 10px 0px;
      }

      h3 {
        @include h3-items;
      }

      .fa-angle-right {
        color: #8bc34a;
        letter-spacing: 3px;
      }

      span {
        color: #90a4ae;

        float: right;
      }
    }

    .price-range {
      @include left-block(245px);
    }

    h3 {
      @include h3-items;
    }

    .btn-price-range {

      button {

        font-weight: 500;
        font-size: 15px;
        color: #fff;
        width: 100%;
        height: 46px;
        background-color: #8bc34a;

        .fa-search {
          letter-spacing: 5px;
          font-size: 15px;
        }
      }
    }

    section.range-slider {
      @include range-slider(100%, 100%, 50px, #F1EFEF, #413F41, left);
    }

    .top-10-sallers {
      @include left-block(1000px);

        .card-top {
    
          display: flex;
          flex-direction: column;
          height: 254x;
          width: 208px;
          margin-bottom: 26px;
          border-bottom: 1px solid #dde3e8;
    
          &:hover {
            box-shadow: 4px 14px 35px 0px rgba(212, 212, 212, 1);
          }
        
          .card_img {
            background-color: #d4d4d4;
            height: 120px;
            width: 100%;
            position: relative;
    margin-bottom: 20px;  
    
    
          }
    
          .card_info {
             position: relative;
    
            h4 {
              margin-bottom: 12px;
              font: bold 16px 'Roboto', sans-serif;
              color: #263238;
            }
    
            span {
              font: medium 14px 'Roboto', sans-serif;
              color: #8bc34a;
            }
    
            .price {
              position: absolute;
              font: bold 16px 'Roboto', sans-serif;
              color: #263238;
              top:20%;
            }
          }
    
          .price {
            position: absolute;
            top: 0;
            right: 0;
    
          }
    
          .card_author {
            display: flex;
            justify-content: space-between;
            line-height: 30px;
            margin-top: 17px;
            margin-bottom: 18px;
    
            .author-img {
              width: 30px;
              height: 30px;
              background-color: #b5b5b5;
              border-radius: 50%;
              margin-right: 14px;
            }
    
            .author-title {
              display: flex;
    
    
              img {
                flex: 1;
    
              }
    
              span {
                flex: 2;
                font: medium 14px 'Roboto', sans-serif;
                color: #546e7a;
                line-height: 30px;
              }
            }
    
            .author-stars {
              text-align: right;
              float: right;
    
              ul {
    
                display: flex;

    
                .fa-star {
                  color: #ffa726;
                }
              }
            }
          }
        }
      
      h3 {
        @include h3-items;
      }

      

      }


      button {
        font-weight: 500;
        font-size: 15px;
        color: #fff;
        width: 100%;
        height: 46px;
        background-color: #8bc34a;
      }
    }
  .col-md-9 {
    .filter {
      height: 60px;
      width: 100%;
      background-color: #fff;
      margin-block-end: 35px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

      font-family: 'Roboto', serif;
      font-weight: 400;
      font-size: 14px;
      color: #707070;

      .fa-sort-amount-down {
        letter-spacing: 10px;

        &:hover {
          color: #8bc34a;
        }
      }

      .fa-sort {
        padding-left: 15px;

        &:hover {
          color: #8bc34a;
        }
      }

      .display {
        letter-spacing: 5px;

        .fa-th-large:hover {
          color: #8bc34a;
        }

        .fa-list:hover {
          color: #8bc34a;
        }
      }
    }

    .container-for-card {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .card {

        display: flex;
        flex-direction: column;
        height: 350x;
        width: 265px;
        margin: 0 5px;
        border: 2px solid #d9e0e3;
        margin-bottom: 32px;

        &:hover {
          box-shadow: 4px 14px 35px 0px rgba(212, 212, 212, 1);
        }

        .card_content {
          padding: 28px 27px;
        }

        .card_img {
          background-color: #d4d4d4;
          height: 250px;
          width: 100%;
          position: relative;



        }

        .card_info {
          border-bottom: 1px solid #e7ecf2;
          position: relative;
          padding-bottom: 17px;

          h3 {
            margin-bottom: 12px;
            font: medium 18px 'Roboto', sans-serif;
            color: #263238;
          }

          span {
            font: medium 14px 'Roboto', sans-serif;
            color: #8bc34a;
          }

          .price {
            font: $price-font;
            color: #263238;
          }
        }

        .price {
          position: absolute;
          top: 0;
          right: 0;

        }

        .card_author {
          display: flex;
          justify-content: space-between;
          line-height: 30px;
          margin-top: 17px;
          margin-bottom: 18px;

          .author-img {
            width: 30px;
            height: 30px;
            background-color: #b5b5b5;
            border-radius: 50%;
            margin-right: 14px;
          }

          .author-title {
            display: flex;


            img {
              flex: 1;

            }

            span {
              flex: 2;
              font: medium 14px 'Roboto', sans-serif;
              color: #546e7a;
              line-height: 30px;
            }
          }

          .author-stars {
            text-align: right;
            float: right;

            ul {
              padding-left: 25px;
              display: flex;

              li:last-child {
                color: #d0d8dc;
                margin: 0 13px;

                span {
                  color: #263238;
                  font: regular 12px 'Roboto', sans-serif;
                }
              }

              .fa-star {
                font-size: 12px;
                color: #ffa726;
              }
            }
          }
        }
      }
    }

    .pages {
      display: flex;
      justify-content: flex-start;

      .active {
        background-color: #e74c3c;
      }

      font-family: 'Roboto',
      sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #263238;

      a {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        margin-right: 8px;
        background-color: #fff;
        box-shadow: 0px 3px 7px 0px rgba(217, 224, 227, 1);

        &:active {
          background-color: #e74c3c;
        }
      }

    }
   
}
.nav-bar{
  margin: 50px 0;
  font: regular 15px 'Roboto', sans-serif;
  color: #b0bec5;
  span{ padding: 0 8px;}
  .nav-active{
color: #263238;
  }
}
}