@font-face {
	font-family: 'MyriadPro';
	src:url('../fonts/MyriadPro-Regular/MyriadPro-Regular.eot'),
		url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
		url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* Reset start */
*{
  box-sizing: border-box;
  
  *:focus {
    outline: none;
  }
  
  body {
  font-family: 'MyriadPro';
  margin: 0;
  padding: 0;
  }
  h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  }
  a{
  color: inherit;
  text-decoration: none;
  }
  a:hover, a:active{
  text-decoration: none;
  }
  ul{
  list-style: none;
  padding: 0;
  margin: 0;
  }
  img {
  max-width: 100%;
  }
}
/* Reset end */

// ponedilok   stails-------------------------------------------
.ponedilok{
  .top_bar{
    .container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:0;
      .logo{
        a {
          img{
            padding: 26px 0;
          }
        }
      }

    }
    .menu_register{
      display: flex;
      align-items: center;
      .red_text{
        color: $color-red;
        font-weight:$font-weight_bold;
      }
      .blu_text{
        color: $color-blu;
        margin: 0 30px 0 5px;
      }
      
      
      .fa-bell{
        font-size: 14px;
        color: $color-grayish-be;
        background-color: $color-white-blue;
        padding: 11px;
        border-radius: 50%;
        margin: 0 15px 0 0;
        position: relative;

        &::after {
          content: "8";
          position: absolute;
          background: $color-yellow;
          color: $color-white;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -5px;
          right: -5px;
        }

      }
      .fa-envelope{
        font-size: 14px;
        color: $color-grayish-be;
        background-color: $color-white-blue;
        padding: 11px;
        border-radius: 50%;
        margin: 0 15px 0 0;
        position: relative;

        &::after {
          content: "5";
          position: absolute;
          background: $color-orang;
          color: $color-white;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -5px;
          right: -5px;
        }
      }
      .fa-shopping-cart{
        font-size: 14px;
        color: $color-grayish-be;
        background-color: $color-white-blue;
        padding: 11px;
        border-radius: 50%;
        margin: 0 15px 0 0;
        position: relative;

        &::after {
          content: "8";
          position: absolute;
          background: $color-pistachio;
          color: $color-white;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          display: flex;
          justify-content: center;
          align-items: center;
          top: -5px;
          right: -5px;
        }

      }
      .dropdown{
        .dropdown-menu{
          // border:0;
          border-radius:0;
          top: 84px;
          padding: 0;
          margin: 0;
          transform: translate3d(0px, 62px, 0px);
        }
        .show{
          transform: translate3d(0px, 62px, 0px);
        }
        .fa-chevron-right{
          color:$color-grin;
          margin-right: 20px;
          line-height: 3;
        }
        .Profile_menu{
          display: flex;
          align-items: center;
          line-height: 1;
        .avatar{
            background-color: $color-222;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin: 0 15px 0 0;
            position: relative;
          }
          .name{
            font-weight:$font-weight_bold;
            color: $default-color;
            .fa-chevron-down{
              margin: 0 0 0 13px;
              color: $color-222;
            }
          }
          .money{
            color: $color-grin;
          }
        }
      }
      .btn{
        margin-left: 29px;
        border: none;
        border-radius: 3px;
        height: 32px;
        width: 72px;
        color: $color-white;
      }
      .grin_btn{
        background-color: $color-grin;
      }
      .red_btn{
        background-color: $color-red;
      }
      .dropdown_shopping-cart{

        .dropdown-menu{ 

          .dropdown-item{

            .product_img{
              background-color: #b3b3b3;
              width: 35px;
              height: 35px;
              margin: 0 15px 0 0;
              position: relative;
            }
            .diteils{
              .grin_text{
                color: green;
              }
            }
          }
          
        }
      }
    }
  }
  .menu_naw{
    .container_fluid{
      background-color:$color-hex;
      .naw{
        // width: 1170px;
        margin: 0 auto;
      ul{
        display: flex;
          li{
            padding: 26px 46px 26px 0;
            a{
              color: $color-white;
            }
          }
        }
      }    
    }
  }


  .banner{
    background: url(../img/Layer.png)center top / cover no-repeat;
    .container{
      padding: 168px 0 175px 0;
      text-align: center;
      .taitel_banner{
        font-size: $size48;
        color:$color-white;
        letter-spacing: 4px;

      }
      .default_text20{
        font-size:$size20;
        color:$color-white;
        margin-top: 35px;
      }
      * {box-sizing: border-box;}
          form {
            position: relative;
            width: 670px;
            margin: 0 auto;
            padding-top: 58px;
          }
          input, button {
            border: none;
            outline: none;
            border-radius: 3px;
          }
          input {
            box-shadow: 0 0 10px $color-pistachio;
            width: 100%;
            height: 42px;
            padding-left: 26px;
          }
          button {
            width: 42px;
            height: 42px;
            background: none;
            border: none;
            position: absolute;
            top: 58px;
            right: 0;
            color: $color-grayish-blue;
          }
    }
  }

  .ponedilok .top_bar .menu_register .dropdown .dropdown-menu {
    transform: translate3d(0px, 62px, 0px);
  }



  @media screen and (max-width: 1199px) {

    .ponedilok .top_bar .container {
      justify-content: center;
    }

    .naw {
      width: 100%;
      padding: 0 20px;
      justify-content: center;
      display: flex;
    }
  }


  @media screen and (max-width: 992px) {

    .ponedilok .top_bar .container {
      display: flex !important;
      align-items: center !important;
      flex-direction: column !important;
    }
  }


 






















} 
// /ponedilok stails-------------------------------------------------------------------

