$w-color:#fff;
$active-color:#8bc34a;
$light-grey-bg-color: #f4f6f5;
$medium-grey-bg-color: #b5b5b5;
$admiral-blue:#263238;
$pic-bg-color:#d4d4d4;
$grey-descr-color:#b0bec5;
$dark-grey-color:#707070;
$btn-orange-color:#e74c3c;
$btn-blue-color:#455a64;
$fb-color:#6370b6;
$twitter-color:#64b5f6;
$linkedin-color: #4f71ce;
$pinterest-color: #d32f2f;

/* .colors */

$font-lg:36px;
$font-md:24px;
$font-sm:15px;
/* fonts */

$grey-border:1px solid #dfdfdf;
$txt-bold:bold;
