@import "../_variables.scss";
@import "../_mixins.scss";
.prdct-dtls-main{
    background-color: #f4f6f5;
        .container{
            max-width:1170px;
            margin: auto;
                .breadcrumb{
                    background-color: #f4f6f5; 
                    padding-top:48px;
                    padding-left:0px;
                    
                    margin-left:-15px;
                    
                        .home{
                            font-family:'Roboto Regular', sans-serif;
                            font-size:15px;
                            color:#b0bec5;
                        }
                        .product-page{
                            font-family:'Roboto Regular', sans-serif;
                            @include font-sm();
                            
                            color:#b0bec5;
                            &::before{
                                content:"-";
                                color:#8bc34a;
                                margin:0 5px;
                            }
                            &:hover{
                                color:#b0bec5;
                            }
                        }
                        .product{
                            font-family:'Roboto Regular', sans-serif;
                            @include font-sm();
                            
                            color:#263238;
                            &::before{
                                content:"-";
                                color:#b0bec5;
                                margin:0 5px;
                            }
                        }

                }
                }  
               
                .main-container{
                    .row{
                        .col-md-9{
                            width:75%;
                            @include flexible-column;
                            
                            padding-left:0px;
                        .img-wrapper{
                            max-width:870px;
                            max-height:460px;
                            background-color:#ffffff;
                            @include grey-border();
                            border: 1px solid #dfdfdf;
                            padding:16px 16px 16px 16px;
                            margin-bottom:40px;
                            
                        }
                        h1{
                            font-family:'Roboto medium', sans-serif;
                            font-size:30px;
                            color:#263238;
                            @include txt-bold();
                           
                            margin-bottom:33px;
                        }
                        h3{
                            font-family:'Roboto regular', sans-serif;  
                            font-size:16px;
                            color:#707070;
                            margin-bottom:49px;
                        }
                        .item-btn-row{
                        display:flex;
                        justify-content:space-between;
                        margin-bottom:55px;
                        flex-wrap:wrap;

                        .operating-btns{
                            display: flex;
                            align-items:center;
                            justify-content: space-between;
                            width:490px;
                            margin-bottom:5px;
                            .btn-live{
                                width:33,333%;
                                @include flexible();
                                
                                align-items:center;
                                
                                height:50px;
                                color:#ffffff;
                                font-family:'Roboto medium',sans-serif;
                                font-size:16px;
                                background-color: #e74c3c;
                                margin-right:18px;
                                text-align: center;
                               padding:0 25px;
                             
                            }
                            .btn-screenshots{
                                width:33,333%;
                                @include flexible();
                                
                                align-items:center;
                                
                                background-color: #455a64;
                                height:50px;
                                color:#ffffff;
                                font-family:'Roboto medium',sans-serif;
                                font-size:16px;
                              margin-right:18px;
                                text-align: center;
                                padding:0 25px;
                                
                            }
                            .btn-doc{
                                width:33,333%;
                                @include flexible();
                                
                                align-items:center;
                             
                                background-color: #8bc34a;
                                height:50px;
                                
                                color:#ffffff;
                                font-family:'Roboto medium',sans-serif;
                                font-size:16px;
                                 
                                text-align: center;
                                padding:0 25px;
                               
                            }
                        }

                        .social-btns{
                            display:flex;
                            align-items:center;
                            justify-content: space-between;
                            width:225px;
                                .btn-fb{
                                    width:25%;
                                    @include flexible();
                                    
                                    align-items:center;
                                    
                                   height:50px;
                                    text-align:center;
                                    color:#ffffff;
                                    
                                    margin-right:3px;
                                    background-color: #6370b6;
                                }
                                .btn-twitter{
                                    width:25%;
                                    @include flexibleI();
                                  
                                align-items:center;
                               
                                    height:50px;
                                   
                                    text-align:center;
                                    color:#ffffff;
                                    
                                    margin-right:3px;
                                    background-color: #64b5f6;
                                }
                                .btn-linkedin{
                                    @include flexible();
                                  
                                align-items:center;
                                
                                width:25%;
                                    height:50px;
                                    text-align:center;
                                    color:#ffffff;
                                   
                                    margin-right:3px;
                                    background-color: #4f71ce;
                                }
                                .btn-pinterest{
                                    @include flexible();
                                    
                                align-items:center;
                              
                                    height:50px;
                                    width:25%;
                                    text-align:center;
                                    color:#ffffff;
                                   
                                    background-color: #d32f2f;
                                    margin:0px;
                                }
                            }
                        }
                            .item-tabs{
                                margin-bottom:55px;
                                .nav-tabs{
                                    
                                    .nav-item{
                                        width:25%;
                                        

                                        .nav-link{
                                            height:59px;
                                            background-color:#ffffff;
                                            border-radius:0px;
                                            border:1px solid #dfdfdf;
                                            font-family:'Roboto Regular', sans-serif;
                                            font-size:16px;
                                            color:#70838d;
                                            @include flexible();
                                        overflow:hidden;
                                        align-items:center;
                                          

                                            &:focus{
                                                border-bottom:3px solid #8bc34a;
                                                font-family:'Roboto Medium', sans-serif;
                                                font-size:16px;
                                                @include txt-bold();
                                                
                                                color:#263238;
                                            }
                                            &:hover{
                                                border-bottom:3px solid #8bc34a;
                                                font-family:'Roboto Medium', sans-serif;
                                                font-size:16px;
                                                @include txt-bold();
                                                color:#263238;
                                            
                                            }
                                            
                                            
                                        }
                                    }
                                }
                                            .tab-content{
                                                .tab-pane{
                                                    background-color: #ffffff;
                                                    @include grey-border;
                                                    
                                                    padding:35px 0 0 35px;;
                                                    font-family:'Roboto Regular', sans-serif;
                                                    font-size:16px;
                                                    color:#707070;
                                                    min-height:265px;
                                                    
                                                    
                                                    ul{
                                                        display:flex;
                                                        
                                                        flex-wrap:wrap;
                                                        .tab-col{

                                                        margin-right:35px;
  
                                                        li{
                                                            margin-bottom:20px;
                                                            .fa-angle-right{
                                                                color:#8bc34a;
                                                                margin-right:13px;
                                                            }
                                                        }
                                                    }
                                                    }
                                                }
                                            }
                                        
                                    
                            }
                            
                        .more-items{
                           
                            background-color: #ffffff;
                            @include grey-border();
                            
                            width:100%;
                            margin-bottom:20px;
                            h1{
                            font-family:'Roboto Medium',sans-serif;
                            font-size:18px;
                            overflow: hidden; 
                            white-space: nowrap; 
                            margin:20px auto 20px 30px;
                            
                            }
                        }
                        .more-items-container{
                            display:flex;
                            justify-content:space-between;
                            flex-wrap:wrap;
                            margin-bottom:125px;
                           a{
                            .more-items-card{
                                background-color: #ffffff;
                                @include grey-border();
                                
                                margin-bottom:30px;
                                -webkit-box-shadow: 2px 2px 2px 0px rgba(199,197,199,1);
                                -moz-box-shadow: 2px 2px 2px 0px rgba(199,197,199,1);
                                box-shadow: 2px 2px 2px 0px rgba(199,197,199,1);
                                max-width:270px;
                                .img{
                                   height:100%;
                                   
                                }
                                .card-info{
                                    float:right;
                                    margin-top:19px;
                                    margin-right:10px;
                                    margin-left:19px;
                                    overflow: hidden; 
                                    white-space: nowrap;
                            
                                .more-items-title{
                                    font-family:'Roboto Medium', sans-serif;
                                    font-size:14px;
                                    @include txt-bold();
                                    
                                    color:#263238;
                                    &:hover{
                                        color:#263238;
                                    }
                                   
                                }
                                .more-items-subtitle{
                                    font-family:'Roboto Regular', sans-serif;
                                    font-size:12px;
                                    color:#8bc34a;
                                    
                                }
                                .more-items-price{
                                    font-family:'Roboto Bold', sans-serif;
                                    font-size:18px;
                                    @include txt-bold();
                                   
                                    color:#263238;
                                    &:hover{
                                        color:#263238;
                                    }
                                }
                            }
                           
                            }
                            }
                        }
                    }
                    .col-md-3{
                        min-width:270px;
                        @include flexible-column;
                            .product-price-wrap{
                                background-color: #ffffff;
                                @include grey-border();
                               
                                margin-bottom:30px;
                                .product-price-card{
                                    padding: 30px;
                                    width:270px;
                                    .card-title{
                                        font-family:'Roboto bold',sans-serif;
                                        @include txt-bold();
                                        font-size:20px;
                                        @include grey-border();
                                        
                                        padding-bottom:25px;
                                    }
                                    .product-price{
                                        font-family:'Roboto medium',sans-serif;
                                        @include txt-bold();
                                        font-size:22px;
                                        color:#e74c3c;
                                        margin-top:34px;
                                        margin-bottom:34px;
                                        
                                        
                                    }
                                }
                            }
                            .dropdown-open{
                                font-family:'Roboto regular', sans-serif;
                                font-size:16px;
                                float:right;
                                 
                                .btn-secondary {
                                    color:  #6c757d;
                                    background-color:#fff;
                                    border-color: #d6d6d6;
                                    border-radius:0px;
                                }
                                .dropdown-toggle::after {
                                    display: inline-block;
                                    color:#b2d786;
                                    margin-left: .255em;
                                    vertical-align: .255em;
                                    content: "";
                                    border-top: .3em solid;
                                    border-right: .3em solid transparent;
                                    border-bottom: 0;
                                    border-left: .3em solid transparent;
                                }
                                .dropdown-item{
                                    font-family:'Roboto regular', sans-serif;
                                    font-size:13px;
                                    color:#70838d;
                                
                                }
                                
                            }
                            .price-card-btns{
                                @include flexible-column;
                                margin-top:30px;
                                .add-btn{
                                    @include flexible();
                                    align-items:center;
                                    height:45px;
                                    background-color: #8bc34a;
                                    color:#ffffff;
                                    
                                    font-family:'Roboto bold',sans-serif;
                                    margin-right:7px;
                                    font-size:16px;
                                    text-align:center;
                                    margin-bottom:9px;
                                    .fa-shopping-cart{
                                        margin-right:8px;
                                    }
                                }
                                .fav-btn{
                                    @include flexible();
                                    align-items:center;
                                    height:45px;
                                    background-color: #42a5f5;
                                    color:#ffffff;
                                    
                                    font-family:'Roboto bold',sans-serif;
                                    margin-right:7px;
                                    font-size:16px;
                                    text-align:center;
                                    margin-bottom:9px;
                                    
                                    .fa-heart{
                                        margin-right:3px;
                                    }
                                }
                                .buy-btn{
                                    @include flexible();
                                    align-items:center;
                                    height:45px;
                                    background-color: #546e7a;
                                    color:#ffffff;
                                   
                                    font-family:'Roboto bold',sans-serif;
                                    
                                    font-size:16px;
                                    text-align:center;
                                
                                }
                            }
                    }
                    .product-author-wrap{
                                background-color: #ffffff;
                                border:1px solid #dfdfdf;
                                margin-bottom:30px;
                                .product-author-card{
                                    width:270px;
         
                                    padding: 30px;
                                    .author-title{
                                        font-family:'Roboto bold',sans-serif;
                                        font-size:20px;
                                        font-weight: bold;
                                        border-bottom:1px solid#dfdfdf;
                                        padding-bottom:25px;

                                    }
                                    .short-info{
                                        margin-top:25px;
                                        display: flex;
                                        align-items: center;
                                        flex-wrap:wrap;
                                        .author-img{
                                            background-color: #d4d4d4;
                                            min-width:73px;
                                            min-height:63px;
                                            display: inline-block;
                                            margin-right:13px;
                                        }
                                        .author-sub{
                                            display: inline-block;
                                            
                                            .author-name{
                                                font-family:'Roboto regular', sans-serif;
                                                font-size:18px;
                                                color:#263238;
                                                display:block;
                                                
                                            }
                                            .view-profile{
                                                background-color: #ffffff;
                                                
                                                border:1px solid #d6d6d6;
                                                padding:9px 10px 9px 10px;
                                                display:block;
                                                font-family:'Roboto regular', sans-serif;
                                                font-size:13px;
                                                color:#707070;
                                            }
                                        }
                                    }
                                    .icons-row{
                                        margin-top:25px;
                                        .icons-list{
                                            .icons{
                                            list-style:none;
                                            margin:0;
                                            padding:0;
                                            background:url(../img/sprite.png) no-repeat;
                                            display:inline-block;
                                            width:34px;
                                            height:36px;
                                            cursor:pointer;}
                                                .icon-first{
                                                    background-position:-34px 0px;
                                                }  
                                                .icon-second{
                                                    background-position:-1px -37px;

                                                }
                                                .icon-third{
                                                    background-position: 0px 0px;

                                                }
                                                .icon-fourth{
                                                    background-position: -68px 0px;
                                                }
                                                .icon-fifth{
                                                    background-position: -34px -37px;
                                                }

                                            
                                            
                                        }
                                    }
                                }

                    }
                    .sales-wrap{
                        background-color: #ffffff;
                        @include grey-border();
                        
                        margin-bottom:30px;
                        .sales-card{
                            padding:20px 30px 20px 30px;
                            width:270px;
                            .fa-shopping-cart{
                                color:#a6b5bb;
                                margin-right:20px;
                            }
                            .quantity{
                                color:263238;
                                font-family:'Roboto bold',sans-serif;
                                font-size:20px;
                                @include txt-bold();
                                margin-right:20px;
                            }
                            .text{
                                font-family:'Roboto light', sans-serif;
                                font-size:16px;
                                color:#707070;
                            }
                        }
                    }
                    .product-info-wrap{
                        background-color: #ffffff;
                        @include grey-border();
                       
                        margin-bottom:30px;
                        .sales-info-card{
                            padding:30px 30px 5px 30px;
                            width:270px;
                            .info-title{
                                        font-family:'Roboto bold',sans-serif;
                                        font-size:20px;
                                        @include txt-bold();
                                        @include grey-border();
                                        
                                        padding-bottom:25px;

                            }
                            .product-characters{
                                .info-li{
                                    font-size:14px;
                                    margin-bottom:25px;
                                    margin-top:25px;
                                    .bold-txt{
                                        font-family: 'Roboto medium', sans-serif;
                                        @include txt-bold();
                                        color:#263238;
                                    }
                                    .normal-txt{
                                        font-family: 'Roboto regular', sans-serif;
                                      
                                        color:#70838d;
                                    }
                                }
                            }
                        }
                    }
                }
            }       
        }
    

    
