@import "../_variables.scss";
@import "../_mixins.scss";

.why-choose{
    background-color:#263238;
    min-width:100%;
    
    .w-c-container{
        max-width:1170px;
        margin:0 auto;
        padding:125px 0 125px 0;
        
        h3{
            @include title-text();
            
            margin-bottom:80px;
            
        }
        .flex-container{
            margin:0 auto;
            @include flexible ();
            
            .flex-item{
                align-items:space-around;
                max-width:315px;
                margin-right:90px;
                &:hover{
                    cursor:pointer;
                    .item-title{
                        color:$active-color; 
                    }
                    .item-description{
                        color:#b0bec5;
                    }
                    .item-picture{
                        background-color: #d4d4d4;
                    }
                }
                .item-picture{
                    height:115px;
                    width:115px;
                    border-radius: 50%;
                    background-color: #b5b5b5;
                    margin-bottom:33px;
                    margin:0 auto;
                    text-align: center;
                }
                .item-title{
                    @include subtitle-text();
                    margin-top:33px;
                    margin-bottom:25px;
                    text-align: center;
                }
                .item-description{
                    @include small-text();
                    
                    text-align: center;
                }
            }
        }
    }
}