@import "../_variables.scss";
@import "../_mixins.scss";

.why-choose{
    background-color:$admiral-blue;
    min-width:100%;
    
    .w-c-container{
        max-width:1170px;
        margin:0 auto;
        padding:125px 0 125px 0;
        
        h3{
            @include title-text();
            
            margin-bottom:80px;
            
        }
        .flex-container{
            
           display:flex;
           justify-content: space-around;
           
            .flex-item{
                align-items:space-around;
                max-width:315px;
                
                &:hover{
                    cursor:pointer;
                    .item-title{
                        color:$active-color; 
                    }
                    .item-description{
                        color:$grey-descr-color;
                    }
                    .item-picture{
                        background-color: $pic-bg-color;
                    }
                }

                .item-picture{
                    height:115px;
                    width:115px;
                    border-radius: 50%;
                    background-color: $medium-grey-bg-color;
                    margin-bottom:33px;
                    margin:0 auto;
                    text-align: center;
                }
                .item-title{
                    @include subtitle-text();
                    margin-top:33px;
                    margin-bottom:25px;
                    text-align: center;
                }
                .item-description{
                    @include small-text();
                    
                    text-align: center;
                }
            }
            /* .flex-item */
        }
        /* .flex-container */
    }
    /* .w-c-container */
}
/* .why-choose */


/* adaptive */
@media(max-width:947px){
    .flex-container{
        flex-direction:column;
       
        align-items: center;
        
    }
    /* .container */
    .flex-item{
        margin-bottom:35px;
        justify-content:center;
        &:last-child{
            margin-bottom: 0px;
        }
    }
    /* .items */
}
/* .adaptive */