@font-face {
  font-family: 'MyriadPro';
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* Reset start */
* {
  box-sizing: border-box; }
  * *:focus {
    outline: none; }
  * body {
    font-family: 'MyriadPro';
    margin: 0;
    padding: 0; }
  * h1, * h2, * h3, * h4, * h5, * h6, * p {
    margin: 0; }
  * a {
    color: inherit;
    text-decoration: none; }
  * a:hover, * a:active {
    text-decoration: none; }
  * ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  * img {
    max-width: 100%; }

/* Reset end */
.ponedilok .top_bar .container {
  width: 1170px;
  margin: 0 auto; }
  .ponedilok .top_bar .container .logo a img {
    padding: 26px 0; }

.ponedilok .top_bar .menu_register .red_text {
  color: #c94d3f; }

.ponedilok .top_bar .menu_register .blu_text {
  color: #5d6e79; }

.ponedilok .menu_naw .container_fluid {
  background-color: #2e353a; }
  .ponedilok .menu_naw .container_fluid .naw {
    width: 1170px;
    margin: 0 auto; }
    .ponedilok .menu_naw .container_fluid .naw ul {
      display: flex; }
      .ponedilok .menu_naw .container_fluid .naw ul li {
        padding: 26px 46px 26px 0; }
        .ponedilok .menu_naw .container_fluid .naw ul li a {
          color: #ffffff; }

.ponedilok .banner {
  background: url(../img/Layer.png) center top/cover no-repeat; }
  .ponedilok .banner .container {
    padding: 168px 0 175px 0;
    text-align: center; }
    .ponedilok .banner .container .taitel_banner {
      font-size: 48px;
      color: #ffffff;
      letter-spacing: 4px; }
    .ponedilok .banner .container .default_text20 {
      font-size: 20px;
      color: #ffffff;
      margin-top: 35px; }
    .ponedilok .banner .container * {
      box-sizing: border-box; }
    .ponedilok .banner .container form {
      position: relative;
      width: 670px;
      margin: 0 auto;
      padding-top: 58px; }
    .ponedilok .banner .container input, .ponedilok .banner .container button {
      border: none;
      outline: none;
      border-radius: 3px; }
    .ponedilok .banner .container input {
      box-shadow: 0 0 10px #8d9c6d;
      width: 100%;
      height: 42px;
      padding-left: 26px; }
    .ponedilok .banner .container button {
      width: 42px;
      height: 42px;
      background: none;
      border: none;
      position: absolute;
      top: 58px;
      right: 0;
      color: #7e8f9a; }
